.App {
  width: 100vw; /* Ocupa todo el ancho del viewport */
  height: 100vh; /* Ocupa toda la altura del viewport */
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f0f0f0; /* Fondo para toda la pantalla */
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* Ocupa el espacio restante */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; /* Agrega un poco de padding para pantallas pequeñas */
}

/* Ajustes para pantallas medianas y pequeñas */
@media (max-width: 768px) {
  .content {
    padding: 0.5rem; /* Reduce el padding en pantallas pequeñas */
    align-items: flex-start; /* Alinea el contenido al inicio en pantallas pequeñas */
    margin-top: 1rem; /* Asegura que no se superponga con el Navbar */
  }
}

/* Ajustes para pantallas muy pequeñas */
@media (max-width: 576px) {
  .content {
    padding: 0.25rem; /* Reduce aún más el padding */
    margin-top: 0.5rem; /* Reduce el margen superior */
  }
}

/* Mantén el resto de los estilos */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}